label   {
	margin: 10px;
}
h1      {
	margin: 10px;
}
h2	{
	margin: 10px;
}
input   {
	margin: 10px;
}
a       {
	margin: 10px;
}
body    {
	background-color: rgb(100,100,100);
}
textarea{
	margin: 10px;
	background-color: white;
	max-width: 65%;
}
input	{
	max-width: 15%;
}